@import url('./iconfont/iconfont.css');

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  flex-direction: column;
}
.c-p-20{
  padding: 20px
}
.f-c-center {
  @include flex-row;
  justify-content: center;
  align-items: center;
}
.f-c-start {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
}
.f-s-c {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
}

:root {
  --main-header-gb: #05002e;
  --main-box-bg: #05002e;
  --main-slider-gb: #0e2045;
  --main-slider-text-hover: #ffffff;
  --main-menu-bg-hover-background: #163473;
  --main-menu-bg-selected-background: #3270DB;
}